@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button{
    cursor: pointer;
}

.container{
    width: 1240px;
    margin: 0 auto;
}

nav{
    padding-top: 28px;
    margin-bottom: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left{
    display: flex;
    align-items: center;
    gap: 150px;
}

.logo{
    width: 132px;
}

.nav_ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_ul a{
    color: var(--gray3, rgba(64, 64, 64, 0.80));
    font-size: 16px;
    font-weight: 600;
    line-height: 48px; /* 300% */
    letter-spacing: -0.32px;
}

.nav_btns{
    display: flex;
    gap: 8px;
    align-items: center;
}

.white_btn{
    background-color: #fff;
    color: #09b451;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.green_btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: #09b451;
    border: none;
    color: #fff;
}

h1{
    font-size: 60px;
    font-weight: 700;
    width: 550px;
    margin-bottom: 48px;
}

h1 span{
    color: #09B451;
}

.h_left button{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: white;
    padding: 20px 42px;
    border-radius: 5px;
    background: #09B451;
    border: none;
}

.h_right{
    max-width: 591px;
    z-index: -1;
}

.h_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px 39px 26px 60px;
    border-radius: 50px;
    background-color: rgba(51, 51, 51, 0.03);
    margin-bottom: 84px;
}

.h_down{
    display: flex;
    justify-content: space-between;
    margin-bottom: 141px;
}

.info{
    display: flex;
    padding: 10px 22px 10px 17px;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #DFF;
}

.section_top{
    font-size: 32px;
    font-weight: 600;
}

.c_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c_top a{
    color: var(--Gray-1, #333);
    font-size: 24px;
    font-weight: 400;
}

.cartegories_place{
    margin-top: 64px;
    position: relative;
}

.categories_imgs{
    display: flex;
    justify-content: space-between;
}

.arrows{
    display: flex;
    justify-content: space-between;
    transform: translateY(-267px);
    padding: 0 24px;
    margin-bottom: 50px;
}

.course_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.sort{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 50px;
    background: #09B451;
}

.sort p{
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.courses_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 43px;
    margin-bottom: 115px;
}

.course_card{
    overflow: hidden;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
}

.course_card_content{
    padding: 24px;
}

.c_c_c_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.c_c_c_top h2{
    color: var(--Gray-1, #333);
    font-size: 24px;
    font-weight: 500;
    width: 295px;
    text-transform: capitalize;
}

.c_c_c_top span{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 6px;
    margin-top: 8px;
}

.c_c_c_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course_info{
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--Gray-1, #333);
    font-size: 16px;
    font-weight: 500;
}

.students_amount{
    display: flex;
    align-items: center;
    gap: 8px;
}

.course_price{
    color: #09B451;
    font-size: 24px;
    font-weight: 600;
}

.e_bottom{
    margin-top: 65px;
    display: flex;   
    margin-bottom: 120px;
}

.e_right h2{
    color: var(--Gray-1, #333);
    font-size: 48px;
    font-weight: 600;
    width: 533px;
    margin-bottom: 24px;
}

.lifes{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.life{
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--Gray-1, #333);
    font-size: 20px;
    font-weight: 500;
}

.life img{
    padding: 13px;
    border-radius: 30px;
    background: #DFF;
}

.instructors{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
}

.instructor{
    border-radius: 5.988px;
    box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
    width: 390.49px;
    height: 371.494px;
    text-align: center;
    padding-top: 31px;
}

.name{
    color: var(--Gray-1, #333);
    font-size: 20px;
    font-weight: 600;
    line-height: 136.5%; 
    margin-top: 17px;
    margin-bottom: 6px;
}

.job{
    color: #09B451;
    font-size: 16px;
    font-weight: 500;
    line-height: 136.5%; 
    margin-bottom: 36px;
}

.i_comment{
    color: var(--Gray-1, #333);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 279px;
    margin: 0 auto;
}

footer{
    background: #000;
    padding: 120px 0 52px;
    color: #FFF;
}

.foot_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
}

.f_left h2{
    font-size: 32.8px;
    font-weight: 600;
    margin-bottom: 31px;
}

.f_left p{
    width: 296px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-bottom: 31px;
}

.socials{
    display: flex;
    align-items: center;
    gap: 25px;
}

.f_right{
    display: flex;
    gap: 100px;
}

.f_ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f_ul a{
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    line-height: 25px; 
}

.foot_bottom{
    text-align: center;
}

.foot_bottom h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 17px;
}


form input{
    width: 420px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 15px 18px;
    height: 52px;
    border: none;

}

input::placeholder{
    color: #CFCFCF;
}

form button{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 27px;
    height: 52px;
    transform:  translateX(-4px);
    border: none;
    background: var(--pri2_3, rgba(10, 199, 90, 0.80));
    outline: none;
}